<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hotel Management Studio</title>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <div class="app-container">

        <!-- Sidebar -->
        <div class="navbarCont">

            <h2 class="logo">HotelMS</h2>

            <nav class="navbar">
                <a asp-page="/Dashboard/Index">Dashboard</a>
                <a asp-page="/Rooms/Index">Rooms</a>
                <a asp-page="/Guests/Index">Guests</a>
                <a asp-page="/Bookings/Index">Bookings</a>
                <a asp-page="/Payments/Index">Payments</a>
            </nav>

        </div>

        <!-- Main Area -->
        <div class="main">

            <!-- Page Content -->
            <div class="content">

                @RenderBody()

            </div>

        </div>

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>