@page
@model HotelManagementSystem.Pages.Rooms.CreateModel

<h1>Add Room</h1>

<form method="post">

    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Room.RoomNumber"></label>
        <input asp-for="Room.RoomNumber" />
    </div>

    <div>
        <label>Room Type</label>
        <select asp-for="Room.RoomTypeId" asp-items="Model.RoomTypeList"></select>
    </div>

    <div>
        <label asp-for="Room.Price"></label>
        <input asp-for="Room.Price" />
    </div>

    <div>
        <label asp-for="Room.Status"></label>
        <select asp-for="Room.Status">
            <option>Available</option>
            <option>Occupied</option>
            <option>Maintenance</option>
        </select>
    </div>

    <button type="submit">Save</button>

</form>